*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a,
span,
img,
button,
input {
  display: block;
}

input {
  width: 100%;
}

img {
  height: auto;
}

input,
button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

address {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-family: "Overpass", sans-serif;
}
